

/********************** Navbar css  **********************/
.mapnav{
    width: 100%;
    background: blueviolet;
    height: 233px;
    background-size: cover;
    background-image: url('../images/svg/map.svg');

}
#sort{
  margin: 26px 544px;
  border: 1px solid #2D9CDB;
  width: 139px;
  height: 60px;
  position: absolute;
}
#sort h5{
    display: block;
    margin-block-start: 13px;
    margin-block-end: 1.67em;
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    font-weight: 500;
}





/********************** End of Navbar css  **********************/


/***************** Card css  ***************************/
.body-content{
    width: 481px;
    height: 328px;
    box-shadow: 15px 10px 16px -4px #eae2e2d6;
    box-shadow: 1px 1px 0px 1px #c7c6c6;
    border-radius: 5px;
    background-color: #eae2e24d;
}
.image-body{
    width: 200px;
    height: 328px;
    border-radius: 1px 1px 0px 2px;
    background-color: red;
    background-image: url('../images/manwater.jpg');
}

.line{
  position: absolute;
  width: 319px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 2px;
  margin-left: 71px;
  margin-top: 29px;
}
#circle-pic{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
    margin-top: 67px;
    margin-left: 72px;
    background-size: 36px;
    background-repeat: no-repeat;

}
#circle-logo{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 50%;
    margin-top: 67px;
    margin-left: 116px;
    background-size: 36px;
    background-repeat: no-repeat;
}

#circle-logo2{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: green;
    border-radius: 50%;
    margin-top: 67px;
    margin-left: 139px;
}

.view-details{
    margin-top: 108px;
    margin-left: 264px;
    font-size: 16px;
    color: #333333;
}
.image-title{
    position: absolute;
    width: 65px;
    height: 20px;
    border-radius: 1px 1px 8px 1px;
    background-color: #58bf5c;
    margin-top: 0px;
    margin-left: 0px;
}


@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
 
  font-family: Abel, Arial, Verdana, sans-serif;
}

.card {
  width: 578px;
  height: 350px;
  background-color: transparent;
  box-shadow: 10px 13px 13px -12px #625757b0;
  border-radius: 6px;
  overflow: hidden;
   position: relative;
  margin: 30px 1.5rem 0px 0px;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 631px;
  height: 100%;
  background: #f2f2f2;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    right: -50px;
    height: 100%;
    margin-left: 32px;
    border-left: 2px solid rgba(0,0,0,0.025);

}

.card .additional .user-card .level,
.card .additional .user-card .points {
    position: absolute;
    width: 89px;
    height: 23px;
    border-radius: 1px 0px 13px 1px;
    background-color: #58bf5c;
    margin-top: -52px;
    margin-left: 0px;
    top: 15%;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.125rem 0.75rem;
    white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 558px;
  float: left;
  position: absolute;
  left: 169px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
/* progress bar  */

.leaf {
  background-color: blue;
}



@media screen and (max-width: 500px) {
  .progress {
      width: calc(100vw * 0.7);
      height: 40px;
      margin: 25px;
  }
}


.shadows {
  margin-left: 40%;
  position: absolute;
  margin-top: 8px;
  font-weight: 700;
  font-size: 8px;
  color: white;
}

.bars {
  border-radius: 20px;
  width: 70%;
  height: 100%;
  transition: width;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}

.progressbar {
  display: inline-block;
  width: 183px;
  height: 28px;
  margin: 21px;
  border-radius: 20px;
  margin-top: -56px;
  background: #F2F2F2;
  position: absolute;
}

.borehole{
    margin-left: 57px;
    color: #333333;
    padding: 13px;
}
.location-txt{
  margin-left: 72px;
  font-size: 15px;
  position: absolute;
  margin-top: -8px;
}
.budget-txt{
    margin-left: 198px;
    margin-top: -7px;
    font-size: 15px;
    position: absolute;
    color: #333333;
}
.content-text{
  margin-left: 70px;
  margin-top: -15px;
  font-size: 14px;
  color: #333333;
}
#contractor-txt{
    color: #333333;
    margin-top: -12px;
}
/********************* End of card css  ************************/

.circle-next1{
    width: 15px;
    height: 13px;
    border-radius: 50%;
    background: #C4C4C4;
    opacity: 0.5;
    position: absolute;
    margin-left: 552px;
    margin-top: -4px;
}
.circle-next2{
    width: 17px;
    height: 15px;
    border-radius: 50%;
    background: #C4C4C4;
    opacity: 0.5;
    position: absolute;
    margin-left: 569px;
    margin-top: -5px;
}

.circle-next3{
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background: #C4C4C4;
    opacity: 0.5;
    position: absolute;
    margin-left: 588px;
    margin-top: -6px;
    
}
.circle-next4{
    width: 27px;
    height: 21px;
    border-radius: 50%;
    background: #C4C4C4;
    opacity: 0.5;
    position: absolute;
    margin-left: 609px;
    margin-top: -7px;
}


 

/****************************** Next page bar *********************************/
.bar {
  display: flex;
  flex-direction: row-reverse;
  margin: auto auto 0;
  width: 300px;
  max-width: calc(100% - 30px);
}
.bar-input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.bar-input:checked ~ .bar-view:nth-child(10):after {
  transition-delay: -0.05s;
}
.bar-input:checked ~ .bar-view:nth-child(10) .bar-button:before {
  transition-delay: 0.01s;
}
.bar-input:checked ~ .bar-view:nth-child(8):after {
  transition-delay: 0.05s;
}
.bar-input:checked ~ .bar-view:nth-child(8) .bar-button:before {
  transition-delay: 0.11s;
}
.bar-input:checked ~ .bar-view:nth-child(6):after {
  transition-delay: 0.15s;
}
.bar-input:checked ~ .bar-view:nth-child(6) .bar-button:before {
  transition-delay: 0.21s;
}
.bar-input:checked ~ .bar-view:nth-child(4):after {
  transition-delay: 0.25s;
}
.bar-input:checked ~ .bar-view:nth-child(4) .bar-button:before {
  transition-delay: 0.31s;
}
.bar-input:checked ~ .bar-view:nth-child(2):after {
  transition-delay: 0.35s;
}
.bar-input:checked ~ .bar-view:nth-child(2) .bar-button:before {
  transition-delay: 0.41s;
}
.bar-input:checked ~ .bar-view:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.bar-input:checked ~ .bar-view .bar-button:before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.bar-input:checked + .bar-view .bar-button:after {
  opacity: 1;
  -webkit-animation: bouncing 0.6s cubic-bezier(0, 0, 0.74, 1.04) infinite;
          animation: bouncing 0.6s cubic-bezier(0, 0, 0.74, 1.04) infinite;
}
.bar-view {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.bar-view:after {
  height: 2px;
  top: calc(50% - 1px);
  transition: -webkit-transform 0.06s cubic-bezier(0, 0.72, 0.58, 1);
  transition: transform 0.06s cubic-bezier(0, 0.72, 0.58, 1);
  transition: transform 0.06s cubic-bezier(0, 0.72, 0.58, 1), -webkit-transform 0.06s cubic-bezier(0, 0.72, 0.58, 1);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #FFB732;
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: 1;
}
.bar-view:not(:last-child):before, .bar-view:not(:last-child):after {
  content: "";
  width: calc(100% - 24px);
  position: absolute;
  right: calc(50% + 12px);
}
.bar-view:not(:last-child):before {
  height: 6px;
  top: calc(50% - 3px);
  background: #3C6997;
}
.bar-view:not(:last-child):nth-child(2):after {
  transition-delay: 0s;
}
.bar-view:not(:last-child):nth-child(2) .bar-button:before {
  transition-delay: 0.06s;
}
.bar-view:not(:last-child):nth-child(4):after {
  transition-delay: 0.1s;
}
.bar-view:not(:last-child):nth-child(4) .bar-button:before {
  transition-delay: 0.16s;
}
.bar-view:not(:last-child):nth-child(6):after {
  transition-delay: 0.2s;
}
.bar-view:not(:last-child):nth-child(6) .bar-button:before {
  transition-delay: 0.26s;
}
.bar-view:not(:last-child):nth-child(8):after {
  transition-delay: 0.3s;
}
.bar-view:not(:last-child):nth-child(8) .bar-button:before {
  transition-delay: 0.36s;
}
.bar-view:not(:last-child):nth-child(10):after {
  transition-delay: 0.4s;
}
.bar-view:not(:last-child):nth-child(10) .bar-button:before {
  transition-delay: 0.46s;
}
.bar-button {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #3C6997;
  position: relative;
  cursor: pointer;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3), 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.bar-button:hover:after {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.bar-button:before, .bar-button:after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.bar-button:before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at center, #FFDD4A, #FE9000);
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.72, 0.58, 1);
}
.bar-button:after {
  border: 8px solid transparent;
  border-top-color: #5ADBFF;
  bottom: calc(100% + 10px);
  left: calc(50% - 8px);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1.97);
}

.command {
  font-family: "Ubuntu Mono", monospace;
  letter-spacing: 1px;
  margin: 30px auto auto;
  text-align: center;
  -webkit-animation: fade 1s ease infinite;
          animation: fade 1s ease infinite;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right,rgb(252, 252, 252), #fff);
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

@-webkit-keyframes bouncing {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes bouncing {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@-webkit-keyframes fade {
  50% {
    opacity: 0.3;
  }
}
@keyframes fade {
  50% {
    opacity: 0.3;
  }
}


  /* Responsiveness */

  @import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

  body {
    -moz-osx-font-smoothing: grayscale;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    min-height: 100vh;
    padding: 5%;
  }
  
  h1 {
    font-weight: 200;
    font-size: 2.2rem;
    color: #222;
    text-align: center;
  }
  
  nav {
    margin: 1px 682px;
    width: 492px;
    margin-top: 26px;
    top: 307px;
    position: inherit;
    background: #008fea;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  }
  
  nav::after {
    display: block;
    content: "";
    clear: both;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  nav ul li {
    float: left;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    padding: 1rem 2rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover,
  nav ul li a:focus {
    background: rgba(0, 0, 0, 0.15);
  }
  
  nav ul li a:focus {
    color: white;
  }
  
  nav ul li a:not(:only-child)::after {
    padding-left: 4px;
    content: " ▾";
  }
  
  nav ul li ul li {
    min-width: 190px;
  }
  
  nav ul li ul li a {
    background: transparent;
    color: #555;
    border-bottom: 1px solid #dde0e7;
  }
  
  nav ul li ul li a:hover,
  nav ul li ul li a:focus {
    background: #eee;
    color: #111;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 10px rgba(10, 20, 30, 0.4);
  }
  

   
  @media screen and (max-width: 370px){

  nav {
    margin: 2px 153px;
    width: 445px;
    margin-top: 26px;
    top: 307px;
    position: inherit;
    background: #008fea;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}
#sort{
  margin: 26px 16px;
  border: 1px solid #2D9CDB;
  width: 139px;
  height: 60px;
  position: absolute;
  }
}
